/* Sidebar
 ========================================================================== */

body.home {
  
  section.sidebar {  
  
    .branding {
      
      .logo {

        figure {
          
          img {
            opacity: 0;
            display: none;
            image-rendering: optimizeQuality;
          }
          
          img.show {
            opacity: 1;
            display: block;
          }
        }
      }

    /**
     * Disable SVG animation for mobiles
     * Works in iOS but not many other devices
     */          

      @media @small {

        #pngLogo {
          display: block !important;
          opacity: 1 !important;
        }
        
        #logo {
          display: none !important;
          opacity: 0 !important;
        }        
      }
      
      .hide {
        opacity: 0;

        /**
         * TODO: fix logo height
         * Sketchy hack removing the svg looses 4px from the height
         * causing the rest of the content below to shift up
         */
      
        height: 4px;    
      }
    }
  }

  .inner {
    
    h2 {
      margin-bottom: 20px;      
    }
  }
}  



/* Slider
 ========================================================================== */

section.slider-promo {
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    li {
      position: relative;
      .caption-container {
        position: absolute;
        bottom: 25%;
        left: 3%;
      }
      
      h1, 
      h2 {
        padding: 0.125em 0.225em 0.125em 0.225em;
      }
      
      h1 {
        float: left;
        font-size: 47px;        
        color: white;
        background: @slateRGBA;
        margin: 0;

        @media @medium {
          font-size: 20px;
        }
      }
      
      h2 {
        float: left;
        background: rgba(255, 255, 255, 0.3);
        
        @media @medium {
          margin-left: 1.5em;          
        }
      }
      
      figure {
        
        img {
          max-width: 100%;
          max-height: 100%;
          display: block;
        }
      }
    }
  }

  /* Slider Themes
   ========================================================================== */

  .owl-item {
    

    /* Christmas
     ========================================================================== */

     .christmas {
      
      h1 {
        color: #fff;
        background: #9D0000;
      }

      h2 {
        color: #fff;
        background: #0B4925;        
      }

     }
  }
  
  .owl-controls {
    position: absolute;
    right: 2%;
    bottom: 5%;
  }

  @media @small {
    .owl-buttons {
      display: none;
    }
  }
}

/* Banner
 ========================================================================== */

.owl-carousel {
  
  .caption-container {   

    h1 {
      @media @small {
        font-size: 20px;
        letter-spacing: 1px;
      }

      @media @medium {
        font-size: 36px;
      }      

      @media @large {
        font-size: 3.2em;
      }            
    }

    h2 {
      @media @small {
        font-size: 15px;
        letter-spacing: 1px;
      }

      @media @medium {
        font-size: 25px;
      }
      
      @media @large {
        font-size: 2.5em;
      }      
    }
  }
}

.promo-callout {
  margin-bottom: 25px;
}



/* Latest News 
 ========================================================================== */

.inner {

  h2.section-heading {
    border-bottom: solid 1px rgba(255, 255, 255, 0.13);    
    padding-bottom: 20px;
    position: relative;

    a.view-more {
      position: absolute;
      right: 0;
      font-size: 12px;
      top: 34%;
      font-family: @open;
      color: rgba(255, 255, 255, 0.33);
      text-decoration: none;
      font-style: italic;      
    }
  }
 
 .frontpage-posts {

  width: 100%;

  @media @medium {
    width: 47%;
  }

  &.news {
    float: left;
  }

  &.featured {
    padding-top: 62px;
    float: right;
    
    article {
      margin-bottom: 4px;
      border: none;
      
      a.thumbnail {
        height: 386px;
      }
    }  
  }

  article {
    width: 100%;
    float: none;
    margin-right: 0;
  }
 }  
}