body.page-location {
  .content {

    height: 700px;

    @media @medium {
      height: 100%;
    }

    section.google-map {
      position: relative;
      height: 100%;
      
      #map-canvas {
        height: 100%;
      }
      
      .location-pane {
        width: 100%;                    
        z-index: 999;
        background: #fff;
        padding: 20px 0;

        @media @medium {
          width: 85%;
          padding: 0.8em;
          position: absolute;
          right: 5%;
          bottom: 10%; 
          border: 1px solid rgba(255, 255, 255, 0.4);         
          background: rgba(255, 255, 255, 0.8) url(../images/sidebar.png) repeat;
        }

        #remove {
          display: none;
          position: absolute;
          top: 2%;
          right: 0.5%;

          @media @medium {
            display: block;
          }
          
          span {
            color: @slate;
            font-size: 26px;
            &:hover {
              color: lighten(@slate, 20%);
            }
          }
          &:hover {
            cursor: pointer;
          }
        }
        h3 {
          font-size: 2.2em;
          color: @slate;
          padding: 0em 1em 0em 0.25em;
          margin: 0;
        }
        
        p, p a {
          color: @slate;
          padding: 0.5em 1em 0.5em 0.5em;
          text-decoration: none;
        }
        
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          li {
            padding: 0 0 0 1em;
            p {
              margin: 0;
              padding: 0;
              span {
                font-size: 16px;
                padding: 0 0.3em 0 0.6em;
              }
            }
            p.address-below {
              padding-left: 25px;
            }
            span {
              margin: 0 0.5em 0 0;
              font-size: 25px;
            }
          }
        }
      }
      .info-window {
        width: 230px;
        img {
          margin: -10px 0 0 0;
        }
        p {
          margin: -10px 0 0 28px;
          color: @slate;
        }
      }
    }    
  }
}