body.page-menu {
  section.page {
    
    /* Posts
     ========================================================================== */

    article {
      padding-bottom: 55px;
      margin-bottom: 15px;
      
      h3 {
        margin: 16px 0 20px 0;
      }
    }
  }
}