section.content {   
  float: left;
  z-index: 20;
  width: 100%;
  background: @slate;

  @media @medium {
    width: 70%;      
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;     
    background: @slateRGBA;
  }


  .inner {    
    padding: 1em;
    
    @media @medium {
      padding: 1em 1em 0 2em;
    }

    figure {
      img.feature {
        margin-left: -2em;
        margin-bottom: 1em;
        margin-top: 0.5em;
      }
    }
  }

  /* Page Paragraph Intro
   ========================================================================== */

  .page-intro-paragraph {
    padding: 0 21px;
    margin-bottom: 38px;    
    font-style: italic;
    border-left: solid 2px @yellow;    
    line-height: 26px;    
  }  

  /* Frontpage Promo Box
   ========================================================================== */
  
  .promo-callout {
    padding: 1em;
    
    background: @yellow;    
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);        

    @media @medium {
      padding: 1em 1em 1em 2em;
    }
    
    h1 {
      font-size: 57px;
      letter-spacing: 1px;      
      margin-bottom: 10px;
      text-shadow: rgba(0, 0, 0, 0.65) 1px 1px 2px;
    }
    
    h1, p {
      color: white;
      text-align: center;
    }

    p {
      font-family: @body-font;
      color: #465660;
      font-size: 20px;
      font-style: italic;      
    }
    
    a {
      color: darken(@yellow, 20%);
    }
    
    p.tweet {
      font-style: italic;
      
      &:before {
        opacity: 0.5;
        content: "\201C";
      }
      
      &:after {
        opacity: 0.5;
        content: "\201D";
      }
    }
  }

  /* Posts - Shared Classes
   ========================================================================== */

  .posts {
    article {
      margin-bottom: 40px;
      padding-bottom: 30px;
      border-bottom: @border;

      &:last-of-type {
        border: none;
        padding-bottom: 10px;
      }   
    } 
  }


  /* blog posts & single page */ 

  article {
    /* news hover styles but looks rubbish */

    // &.category-news {
    //     .thumbnail {
    //         .hovereffect();                  
    //     }            
    // }        
    
    h3, 
    h3 a {          
      margin-bottom: 5px;            
      font-size: 22px;
      font-family: @open;
      font-weight: bold;
      text-transform: uppercase;   
      color: #fff;
      text-decoration: none;      
    }
    
    .post-info {
      margin-bottom: 5px;
      color: #fff;
      font-style: italic;      
      font-size: 11px;
      
      a {
          color: #fff;        
      }
    }
    
    img {
      margin: 5px 0;      
      height: auto;
      max-height: 100%;     
      max-width: 100%;
    }

    .thumbnail {
      margin-bottom: 10px;    
      width: 100%;
      height: 350px;
      display: block;
      overflow: hidden;       
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;

      @media @medium {
        height: 250px;
        background-position: center center;
      }
    }

    .exerpt {
      font-size: 14px;      
    }             
  }

  .pagination {
    position: relative;
    top: -20px;
    clear: both;
    padding-top: 18px;
    border-top: @border;

    .recent a {
      float: right;
    }
    
    a {
      text-decoration: none;
      font-size: 13px;
      font-style: italic;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 0.4);            
    }        
  }        
}




  
