body.single {

  article {
    
    .post-info {            
      margin-bottom: 0;
      padding-bottom: 10px;
      overflow: hidden;

      .single-post-info-links {
        float: left;
        margin-top: 8px;
      }      

      .share-buttons {
        height: 27px; // fix mobile loading issues
        float: left;
        margin-top: 10px;
        clear: both;
        
        @media @medium {
          float: right;                            
          margin-top: 0;
          
          clear: none; // undo mobile fix
        }
        
        #twitter-widget-0 {
          position: relative;
          top: 3px;
          margin-left: 5px;                    
        }
      }
    }
  }
}