body.page-the-team {
  
  .team-member {
    width: 100%;
    float: left;      
    margin-bottom: 40px;
    padding-bottom: 40px; 
    border-bottom: @border;

    &:last-of-type {
      border: none;
    }

    &:before {
      content: '';
      height: 1px;
      position: absolute;
      width: 90%;
      margin-top: -34px;      
      display: none;
      border-top: @border;
    }

    @media @medium {
      width: 47%;
      margin-bottom: 70px;
      padding-bottom: 0;
      margin-right: 3%;
      border: none;
      
      &:nth-child(2n+2) + .team-member:before {
        display: block;
      }          
    }

    @media @large {
      width: 30%;
      
      &:nth-child(2n+2) + .team-member:before {
        display: none;
      }

      &:nth-child(3n+2) + .team-member:before {
        display: block;
      }      
    }    

    h3 {
      margin-bottom: 20px;
      
      @media @medium {
        position: relative;
        height: 60px;        
        margin-bottom: 10px;
      }

      span {
        @media @medium {
          position: absolute;
          bottom: 0;          
        }
      }
    }
  }
}
