body {
  background: url(../images/bg.jpg);
  height: 100%;
  width: 100%;  
  
  position: absolute;  
  background-position: center 0;
  background-repeat: no-repeat;

  @media @medium {
    background-size: cover;
  }
}

img {
  
  @media @small {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

article img {
  width: 100%;
  max-width: 100%;
}

/* Global Typography
 ========================================================================== */

h2.section-heading {
  color: @yellow;
}

p {
  font-size: 14px;
  line-height: 24px;
}

.wrapper {
  max-width: 1024px;  
  margin: 0 auto;

  @media @medium {
    height: 100%;
  }
  
  @media @large {
    padding: 0 2em;
  }
}

.shadow {
  -webkit-box-shadow: 0px 0px 30px 15px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    0px 0px 30px 15px rgba(50, 50, 50, 0.35);
  box-shadow:         0px 0px 30px 15px rgba(50, 50, 50, 0.35);
}


/* ==========================================================================
 Menu
 ========================================================================== */   

 .menu-toggle, .mobile-quicklinks  {
  display: none;
 }


/* mobile menu
 ========================================================================== */

@media @small {
  
  .navigation {
    background: #262626;
    width: 100%;
    height: 50px;   
    position: fixed;
    top: 0;
    
    .main-navigation {   
      width: 100%;
      .menu-main-container {
        width: 100%;
        display: none;

        // TODO: mobile menu transition
                
        // transition-property: all;
        // transition-duration: 1s;
        // transition-timing-function: cubic-bezier(0, 1, 1, 1);             
      }
      
      // Show menu
      &.toggled {      
        
        .menu-main-container {
          display: block;
          
          ul {            
            padding-top: 50px;
            
            li {
              margin: 0;
              &:first-child {
                border-top: solid #373636 1px;                
              }
              
              a {
                font-weight: normal;
                border-bottom: solid #373636 1px;
                padding: 20px 0 15px 16px;
                background: #262626;
                margin: 0;                   
                height: 20px;
                display: block;
                width: 100%;
                color: #fff;
                font-family: @open;
                font-size: 12px;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-align: left;               
              }              
            }
          }
        }
        .menu-toggle {
          color: #909090;
        }
      }
      
    /* Burger menu icon
     ========================================================================== */

      .menu-toggle {
        display: block;
        float: right;
        margin: 12px 7px 0 7px;     
        background: none;
        border: none;
        font-size: 20px;  
        color: #fff;
        
        i.burger-menu {
          font-family: 'relish';
          font-style: normal;
        }
      }  

    /* Phone & Location icon
       ========================================================================== */

      .mobile-quicklinks {        
        display: block;    
        position: absolute;
        left: 3px;
        top: 12px;  
        
        li {
          list-style: none;
          float: left;
          width: 46px;
          position: relative;
          
          &:first-child:after {
          content: '';
          width: 1px;
          height: 50px;
          background: #373636;
          position: absolute;
          top: -12px;
          left: 48px;
          }
          
          a {
            
            i {
              color: #fff;
              font-size: 18px;
            }          
          }
        }
      }
    }  
  }  
}