section.sidebar {  
  height: 100%;
  float: left;  
  text-align: center;
  position: relative;
  z-index: 25;  
  width: 100%;
  background: #fff;
  
  @media @medium {
    width: 30%;  
    background: rgba(255, 255, 255, 0.9) url(../images/sidebar.png) repeat;
    overflow: hidden;
  }
  
  .shadow();
  
  .branding {
    width: 100%;
    height: auto;    
    
    .logo {
      padding: 60px 30% 0 30%;
      
      @media @medium {
        padding: 0 1.5em 0em 1.5em;
      }
      
      #svgLogo, 
      #pngLogo {
        transition: opacity 0.4s ease 0s;
        width: 100%;
        height: 100%;
        max-width: 100%;
      }      
    }
    
    .brand-flick {
      stroke: @slate;
      fill: none;
    } 
    
    .brand-type {
      fill: none;
      stroke: @slate;
      stroke-width: 1px;
      stroke-dashoffset: 1000;
      stroke-dasharray: 1000;
    }
    
    .brand-flick {
      stroke: @slate;
      fill: none;
    } 
    
    .brand-type {
      fill: none;
      stroke: @slate;
      stroke-width: 1px;
      stroke-dashoffset: 1000;
      stroke-dasharray: 1000;
    }
  }
  
  .navigation {
    margin: 0 0 2em 0;
    nav {
      ul {
        margin: 0;
        padding: 0;
        li {
          display: block;
          width: 100%;
          margin: 0 0 1em 0;
          a {
            padding: 0.2em 0.4em 0.2em 0.4em;
            font-family: @beb;
            font-size: 1.5em;
            color: @slate;
            text-decoration: none;
            // .transition(0.3s);
            @media @medium {
              &:hover {
                background: @slate;
                color: white;
              }              
            }            
          }                  
        }
        li.current_page_item,
        li.current_page_parent {
          a {
            background: @slate;
            color: white;
          }
        }
      }
    }
  }
  
  .contact-details {

    display: none;
    
    @media @medium {
      display: block;
    }

    .phone-number {
      text-decoration: none;
      display: block;      
      font-size: 30px;
      letter-spacing: 1px;
      font-family: @beb;
      color: @yellow;

      @media @large {
        font-size: 40px;
      }
    }

    .opening-times {
      margin: 15px 0 40px 0;
      font-family: @beb;    
      font-size: 20px;
      padding-right: 50px;

      @media @large {
        font-size: 23px;
        padding-right: 90px;
      }
      
      dt {
        float: left;
        text-align: right;        
        color: #465660;
        width: 60%;
        
        @media @large {
          width: 65%;
        }
      }

      dd {
        width: 100%;
        margin-bottom: 5px;
        color: @yellow;
      }
    }
    
    p {
      font-size: 0.8em;
      color: @slate;
      span {
        margin: 0 0 0 0.6em;
      }
    }      
  }
  
  .social {
    display: none;
    
    @media @medium {
      width: 100%;
      margin: 0 auto;      
      display: block;
      
      .social-links {
        text-align: center;
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            margin: 0 0.2em 0 0.2em;
            display: inline;
            a {
              font-size: 23px;
              color: #333;
              text-decoration: none;
              .transition(0.3s);
              &:hover {
                color: @yellow;
              }
            }
          }
        }     
      }      
    }
  } 
}