@charset "UTF-8";

/* Header 
   ========================================================================== */

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Copy
   ========================================================================== */

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Alt Copy
   ========================================================================== */

@font-face {
    font-family: 'stix';
    src: url('fonts/stix/stix-regular-webfont.eot');
    src: url('fonts/stix/stix-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/stix/stix-regular-webfont.woff') format('woff'),
         url('fonts/stix/stix-regular-webfont.ttf') format('truetype'),
         url('fonts/stix/stix-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stix';
    src: url('fonts/stix/stix-italic-webfont.eot');
    src: url('fonts/stix/stix-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/stix/stix-italic-webfont.woff') format('woff'),
         url('fonts/stix/stix-italic-webfont.ttf') format('truetype'),
         url('fonts/stix/stix-italic-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'stix';
    src: url('fonts/stix/stix-bold-webfont.eot');
    src: url('fonts/stix/stix-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/stix/stix-bold-webfont.woff') format('woff'),
         url('fonts/stix/stix-bold-webfont.ttf') format('truetype'),
         url('fonts/stix/stix-bold-webfont.svg#open_sansregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'stix';
    src: url('fonts/stix/stix-regular-webfont.eot');
    src: url('fonts/stix/stix-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/stix/stix-regular-webfont.woff') format('woff'),
         url('fonts/stix/stix-regular-webfont.ttf') format('truetype'),
         url('fonts/stix/stix-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Custom
   ========================================================================== */

@font-face {
  font-family: 'relish';
  src: url('fonts/relish.eot');
  src: url('fonts/relish.eot?#iefix') format('embedded-opentype'),
        url('fonts/relish.woff') format('woff'),
        url('fonts/relish.ttf') format('truetype'),
        url('fonts/relish.svg#relish') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "relish" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "relish" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
  content: "b";
}
.icon-linkedin:before {
  content: "c";
}
.icon-facebook:before {
  content: "d";
}
.icon-phone:before {
  content: "a";
}
.icon-pin:before {
  content: "e";
}
.icon-align-justify:before {
  content: "f";
}
.icon-cancel:before {
  content: "g";
}
.icon-angle-right:before {
  content: "h";
}
.icon-angle-left:before {
  content: "i";
}
h1, h2, h3, h4, h5, h6 {
	font-family: @beb;
	color: white;
	margin: 0 0 0.4em 0;
	font-weight: normal;
}
h1 {
	font-size: 3.4em;
	color: @yellow;
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 1.6em;
}
p {
	font-family: @open;
	color: white;
	margin: 0 0 1em 0;
}

a {

}

ul {
	li {

	}
}

ol {
	li {

	}
}

input,
textarea {

}

