/* Transitions
 ========================================================================== */

.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}


/* News Post Thumbnail Hover
 ========================================================================== */

 .hovereffect () {
    position: relative;    
    
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(70, 86, 96, 0) 0%, rgba(70, 86, 96, 0.9) 75%);
      content: '';
      opacity: 0;
      transform: translate3d(0,50%,0); 
      transition: opacity 0.35s, transform 0.35s;       
    }

    &:hover:before {
      opacity: 1;
      transform: translate3d(0,0,0);        
    }
 }