//== Media queries breakpoints

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
              
@small:      ~"only screen and (max-width: 40em)";

@medium:      ~"only screen and (min-width: 40.063em)";

@large:     ~"only screen and (min-width: 64.063em)";
@large-xl:  ~"only screen and (min-width: 90.063em)";