
/* Disable SVG Animation
 ========================================================================== */

 #svgLogo {display: none; opacity: 0;}
 #pngLogo {display: block; opacity: 1;}

/* Close the location Pane (Contact page)
 ========================================================================== */

 .pt-page-scaleDown {display: none;}