/* Brand */
@slate: #465660;
@slateRGBA: rgba(70, 86, 96, 0.9);
@yellow: #e5a528;
@yellowRGBA: rgba(229, 165, 40, 0.9);

/* Fonts */
@beb: "bebas_neueregular", Arial, sans-serif;
@open: "open_sansregular", Arial, sans-serif;
@body-font: "stix", Arial, sans-serif;

/* Style */ 

@border: solid 1px rgba(255, 255, 255, 0.13);

@import "_fonts.less";
@import "_respond.less";
@import "_animation.less";
@import "_mixins.less";

/* Vendor
 ========================================================================== */

@import "vendor/hat.less";
// @import "vendor/font-awesome/font-awesome.less";
// @import "vendor/foundation-icons/_foundation-icons.less";

/* Elements
========================================================================== */

@import "elements/global.less";
@import "elements/sidebar.less";
@import "elements/footer.less";


/* Pages
========================================================================== */

@import "pages/shared.less";
@import "pages/front-page.less";
@import "pages/location.less";
@import "pages/the-team.less";
@import "pages/menus.less";
@import "pages/single.less";




